<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>img</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<style>
    *{margin:0px;paading:0px;font-size:20px;}
    h4{text-align:center}
   img{width: 100%;height:100%;position:absolute;z-index:-1}
    .cont{z-index: 10;margin:0 auto;text-align: center;width:65%;margin-top:-20px;}
    h2{font-size:26em;color: #fff;line-height: 1.3em;}
    h3{color: #fff;font-size:2em;}
    a{font-size: 20px;padding-left: 10px;}
</style>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">小小相册</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">全部相册<span class="sr-only">(current)</span></a></li>
                <li><a href="/up">上传</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</div>
<div class="bgpic">
    <img src="/images/404.jpg"></img>
    <div class="agileinfo-row cont">
        <h2>404</h2>
        <h3>This page was lost at sea<a href="/">Back to home</a></h3>
    </div>

</div>

<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>